
<div class=columns>
  <div class="column is-narrow">
    <table class="table is-striped">
      <thead>
        <tr>
          <th style="text-align:center" colspan="3">Corporation Kills/Losses</th>
        </tr>
        <tr>
          <th class="is-info">Last</th>
          <th class="is-primary">Kills</th>
          <th class="is-danger">Losses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
           <td>Hour</td>
           <td><%= @killmails_last_hour %></td>
           <td>tbc</td>
        </tr>
        <tr>
          <td>24hrs</td>
          <td><%= @killmails_last_day %></td>
          <td>tbc</td>
        </tr>
        <tr>
          <td>Week</td>
          <td><%= @killmails_last_week %></td>
          <td>tbc</td>
        </tr>
        <tr>
          <td>Month</td>
          <td><%= @killmails_last_week %></td>
          <td>tbc</td>
        <tr>
        <tr>
           <td>Aeon</td>
           <td><%= @killmails.all.count %></td>
           <td>tbc</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column is-narrow">
    <table class="table is-striped">
      <thead>
        <tr>
          <th style="text-align:center" colspan="4">
            The Top 5 Killers
          </th>
        </tr>
        <tr>
          <th class="is-warning">Rank</th>
          <th class="is-info">Toon</th>
          <th class="is-primary">Kills</th>
          <th class="is-danger">Losses</th>
        <tr>
      </thead>
      <tbody>
        <tr>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
        </tr>
        <tr>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
        </tr>
        <tr>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
        </tr>
        <tr>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
        </tr>
        <tr>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
          <td>tbc</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="column is-narrow">
      <table class="table is-striped">
        <thead>
          <tr>
            <th style="text-align:center" colspan="4">
              The Top 5 Slackers
            </th>
          </tr>
          <tr>
            <th class="is-warning">Rank</th>
            <th class="is-info">Toon</th>
            <th class="is-primary">Kills</th>
            <th class="is-danger">Losses</th>
          <tr>
        </thead>
        <tbody>
          <tr>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
          </tr>
          <tr>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
          </tr>
          <tr>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
          </tr>
          <tr>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
          </tr>
          <tr>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
            <td>tbc</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
