
<div class=columns>
  <div class="column is-narrow">
    <table class="table is-striped">
      <thead>
        <tr>
          <th style="text-align:center" colspan="3">Corporation Kills/Losses</th>
        </tr>
        <tr>
          <th class="is-info">Last</th>
          <th class="is-primary">Kills</th>
          <th class="is-danger">Losses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
           <td>Hour</td>
           <td><%= @kills_last_hour %></td>
           <td><%= @losses_last_hour %></td>
        </tr>
        <tr>
          <td>24hrs</td>
          <td><%= @kills_last_day %></td>
          <td><%= @losses_last_day %></td>
        </tr>
        <tr>
          <td>Week</td>
          <td><%= @kills_last_week %></td>
          <td><%= @losses_last_week %></td>
        </tr>
        <tr>
          <td>Month</td>
          <td><%= @kills_last_month %></td>
          <td><%= @losses_last_month %></td>
        <tr>
        <tr>
           <td>Aeon</td>
           <td><%= @kills_aeon%></td>
           <td><%= @losses_aeon %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column is-narrow">
    <table class="table is-striped">
      <thead>
        <tr>
          <th style="text-align:center" colspan="4">
            All-time Top 10 Killers
          </th>
        </tr>
        <tr>
          <th class="is-info">#</th>
          <th class="is-info">Toon</th>
          <th class="is-primary">Kills</th>
        <tr>
      </thead>
      <tbody>
        <% count = 1 %>
        <% @top_ten_all_time.each do |name,tally| %>
          <% if count == 1 %>
            <tr>
              <td><%= count %><span class="icon has-text-warning"><i class="fas fa-medal"></i></span></td>
              <td><%= name %></td>
              <td><%= tally %></td>
            </tr>
            <% count += 1 %>
          <% else %>
            <tr>
              <td><%= count %></td>
              <td><%= name %></td>
              <td><%= tally %></td>
            </tr>
            <% count += 1 %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
    <div class="column is-narrow">
      <table class="table is-striped">
        <thead>
          <tr>
            <th style="text-align:center" colspan="4">
              Top 10 Killers This Month
            </th>
          </tr>
          <tr>
            <th class="is-info">#</th>
            <th class="is-info">Toon</th>
            <th class="is-primary">Kills</th>
          <tr>
        </thead>
        <tbody>
          <% count = 1 %>
          <% @top_ten_month.each do |name,tally| %>
          <% if count == 1 %>
            <tr>
	      <td><%= count %><span class="icon has-text-warning"><i class="fas fa-medal"></i></span></td>
	      <td><%= name %></td>
	      <td><span><%= tally %></span></td>
            </tr>
            <% count += 1 %>
          <% else %>
            <tr>
              <td><%= count %></td>
              <td><%= name %></td>
              <td><%= tally %></td>
            </tr>
            <% count += 1 %>
          <% end %>
        <% end %>
        </tbody>
      </table>
  </div>
  <div class="column is-narrow">
    <table class="table is-striped">
      <thead>
        <tr>
          <th style="text-align:center" colspan="4">
            Top 10 Killers This Week
          </th>
        </tr>
        <tr>
          <th class="is-info">#</th>
          <th class="is-info">Toon</th>
          <th class="is-primary">Kills</th>
        <tr>
      </thead>
      <tbody>
        <% count = 1 %>
        <% @top_ten_week.each do |name,tally| %>
          <% if count == 1 %>
            <tr>
              <td><%= count %><span class="icon has-text-warning"><i class="fas fa-medal"></i></span></td>
              <td><%= name %></td>
              <td><span><%= tally %></span></td>
            </tr>
            <% count += 1 %>
          <% else %>
            <tr>
              <td><%= count %></td>
              <td><%= name %></td>
              <td><%= tally %></td>
            </tr>
            <% count += 1 %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
